data
data_all
data_plain_sats
data_icsmd
data_tester
data_mixed
generated_mixed
generated_all
generated_all_x10
generated_icsmd
generated_icsmd_x10
venv

sorted_sats.json

*.exe
GA_monte_carlo

__pycache__

*.pngs
