[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
types-toml = "*"
bottle = "*"
requests = "*"
types-requests = "*"
pynacl = "*"
cryptography = "*"
prettytable = "*"
types-prettytable = "*"
ledgercomm = "*"
semver = "*"
requests-cache = "*"
pytest = "*"
setuptools = "*"
multiversx-sdk-rust-contract-builder = "*"
multiversx-sdk-network-providers = "*"
multiversx-sdk-wallet = "*"
multiversx-sdk-core = "*"
flake8 = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.10"
