node_modules
*.lock
*-lock.json

# Cached dapp files
cache
artifacts
dapps

credentials.json
wallets-example.json
credentials.other.json

test_output.txt
flamegraph.html
test.txt

results.gas_results.json
