.portlet-pad .portlet {
  padding: 0 15px; }

/* login portlet */
#login-container a.login-button, #login-container .login-button input {
  background-image: url(../images/cos2/arr-black.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-color: transparent;
  border: 2px solid black;
  padding: 10px 15px;
  padding-right: 33px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  line-height: normal; }

#login-container a.login-button:hover, #login-container .login-button input:hover {
  background-image: url(../images/cos2/arr-white.png);
  background-color: black;
  text-decoration: none;
  color: white; }

